body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
height: 100vh;
color: #fff;
background: #18122B;

}

h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #8a79c3;
}

ol {
    list-style-type: decimal;
    margin-left: -20px;
    margin-bottom: 20px;
}

#inst {
    color:#878297;
}
input[type="text"]::placeholder {
    color: #8a79c3;
}

.container {
    outline: solid 4px #443C68;
    background-color: #393053;
    max-width: 450px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h1 {
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}

p {
font-size: 16px;
margin-bottom: 10px;
}

input[type="text"] {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 2px solid #635985;
background-color: #18122B;
border-radius: 4px;
box-sizing: border-box;
color: #8a79c3;
}

.input-group {
position: relative;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 10px;
    border: none;
    background: #635985;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.copy-button:hover {
    background: hsla(280, 84%, 41%, 1);

background: linear-gradient(0deg, hsla(280, 84%, 41%, 1) 0%, rgb(143, 34, 252) 100%);

background: -moz-linear-gradient(0deg, hsla(280, 84%, 41%, 1) 0%,rgb(143, 34, 252)100%);

background: -webkit-linear-gradient(0deg, hsla(280, 84%, 41%, 1) 0%, rgb(143, 34, 252) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711C1", endColorstr="#2472FC", GradientType=1 );
}

.copy-button:hover::after {
    content: "Copy";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.copy-button:hover::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-bottom-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.copy-button:hover::after,
.copy-button:hover::before {
    opacity: 1;
}

#cdnLink {
font-size: 16px;
margin-top: 10px;
}